.Right-comp1 {
    width: 100vw;
    height: 100vh;
    background-color: #F7ECDC ;
    overflow: hidden;
}
/* #right-comp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.backword{
    margin-left: 4%;
    margin-right: 4%
}

.backword a{
    font-size: large;
    text-decoration: none;
    color: black;
    font-size: 200%;
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.pocketnotes{
    display: flex;
    justify-content: center;
}

.description{
    display: flex;
    justify-content: center;
}

.notes-header-container1 {
    position: absolute;
    top: 0;
    background-color: #E8E8E8;
    font-size: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100vw;

}
.selected-group{
    margin-left: 3%;
}
#two-letters{
    display: inline-block;
    color: white;
    font-size: 190%;
    margin: 15% 0 0 22%;
}
.notesinput1{
    /* width: 100%; */
    /* width: fit-content; */
    width: 100vw;
    height:31.9vh ;
    background-color:
    #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;

    
}

.notesinput1 textarea {
    font-size: large;
    width: 90vw;
    height: 22vh;
    border-radius: 5px;
}

.notesinput1 img{
    position: absolute;
    right: 7%;
    bottom: 22%;
    cursor: pointer;
}

.chat-box{
    color: black;
}
.chat-message{
    display: flex;
    flex-direction: row;
    
}
.chat-message div{
    margin-bottom: 4%;
}
.message{
    margin-left: 30%;
}