.pop-up1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    position: absolute;
    height: 30%;
    width: 78%;
    top: 35%;
    left: 12%;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    
}
.header1{
    margin-left: 2%;
    font-size: 100%;
}
.groupname1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.choose-colour1 h3{
    font-size: 13px;
}

.groupname1 h3{
    font-size: 13px;
}

.groupname1 input {
    width: 50%;
    height:100% ;
    font-size: 11px;
    border-radius:18px ;
}

.choose-colour1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colors1{
    display: flex;
    
}
.colors1 div {
    width: 16px;
    height: 23px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;

}

.purple{
    background: #B38BFA;
}
#purple{
    border: 2px solid black;
}

.pink{
    background: #FF79F2;

}
#pink{
    border: 2px solid black;

}

.skyblue{
    background: #43E6FC;

}
#skyblue{
    border: 2px solid black;

}
.orange{
    background: #F19576;

}
#orange{
    border: 2px solid black;

}
.blue{
    background: #0047FF;

}
#blue{
    border: 2px solid black;

}
.cyan{
    background: #6691FF;

}
#cyan{
    border: 2px solid black;

}

.butn1{
    display: flex;
    justify-content:center;
    margin-bottom: 1.5%;
}

#butn1 {
background-color: black;
color: white;
font-size: 10px;
width: 50%;
height: 120%;
margin: 0 3% 0 0;
border-radius: 6px;
cursor: pointer;
}