.Right-comp {
    /* display: inline-block; */
    width: 70vw;
    height: 100vh;
    background-color: #F7ECDC;
}


.image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.pocketnotes{
    display: flex;
    justify-content: center;
}

.description{
    display: flex;
    justify-content: center;
}

.notes-header-container {
    background-color: #E8E8E8;
    font-size: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;

}
.selected-group{
    margin-left: 3%;
}
#two-letters{
    display: inline-block;
    color: white;
    font-size: 190%;
    margin: 15% 0 0 22%;
}
.notesinput{
    /* width: 100%; */
    /* width: fit-content; */
    width: 70vw;
    height:31.9vh ;
    background-color:
    #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;

    
}


.notesinput textarea {
    font-size: large;
    width: 64vw;
    height: 26vh;
    border-radius: 5px;
}

.notesinput img{
    position: absolute;
    right: 7%;
    bottom: 15%;
    cursor: pointer;
}

.chat-box{
    color: black;
    max-height: 58.2vh;
    overflow-y: auto;
}
.chat-message{
    display: flex;
    flex-direction: row;
    
}
.chat-message div{
    margin-bottom: 4%;
}
.message{
    margin-left: 30%;
}